{
  "Port": 1001,
  "Listing": "http://localhost:5033/api/v1/directory",
  "MaxPlayers": -1,
  "Directory": null,
  "Auth": {
    "Test": {
      "Enabled": false
    },
    "Steam": {
      "Enabled": true,
      "APIKey": ""
    },
    "Oculus": {
      "Enabled": true
    }
  },
  "Event": {
    "Title": "Title",
    "Format": "Showcase",
    "Finish": {
      "Motd": "<color=\"red\"><size=120%>Thank you everyone for playing!",
      "Url": "http://localhost:5033/images/finish.png"
    },
    "Maps": [
      {
        "Name": "Breezer",
        "Motd": "<color=\"red\"><size=120%>Breezer - TheGoodBoi",
        "Intermission": "00:10:00",
        "Duration": "00:04:00",
        "Ruleset": {
          "AllowResubmission": true,
          "Modifiers": [
            "noEnergy"
          ]
        },
        "Keys": [
          {
            "Characteristic": "Standard",
            "Difficulty": 1
          },
          {
            "Characteristic": "Standard",
            "Difficulty": 2
          }
        ],
        "Downloads": [
          {
            "GameVersion": "1.29.1",
            "Url": "http://localhost:5033/maps/1.29.1/Breezer.zip",
            "Hash": ""
          },
          {
            "GameVersion": "1.34.2",
            "Url": "http://localhost:5033/maps/1.34.2/Breezer.zip",
            "Hash": ""
          }
        ]
      },
      {
        "Name": "42 flux",
        "Characteristic": "Standard",
        "Difficulty": 4,
        "AltCoverUrl": "http://localhost:5033/images/alternative_42-flux.png",
        "Motd": "<color=\"red\"><size=120%>42-flux - Aeroluna",
        "Intermission": "00:01:00",
        "Duration": "00:04:00",
        "Ruleset": {
          "Modifiers": [
            "noEnergy"
          ]
        },
        "Keys": [
          {
            "Characteristic": "Standard",
            "Difficulty": 3
          },
          {
            "Characteristic": "Standard",
            "Difficulty": 4
          }
        ],
        "Downloads": [
          {
            "GameVersion": "1.29.1",
            "Url": "http://localhost:5033/maps/1.29.1/42-flux.zip",
            "Hash": "c9e74f7931a1f0216e801a40e7459ad6"
          },
          {
            "GameVersion": "1.34.2",
            "Url": "http://localhost:5033/maps/1.34.2/42-flux.zip",
            "Hash": "fe4f5155520085cc0ad151d837a1c064"
          }
        ]
      }
    ]
  }
}
